* {
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}

nav{
    background-color: orange;
    text-align: center;
    line-height: 45px;
}
ul.menu> li{
    display: inline-block;
    position: relative;
}
ul.menu> li a{
    display: block;
    color: white;
    padding: 0 30px;
    text-decoration: none;
}
ul.menu> li a:hover {
    background-color: green;
    color: aliceblue;
}

ul.sub-menu {
    position: absolute;
    box-shadow: 0 0 1px  black;
    width: 150px;
    list-style: none;
    background-color: orange;
    display: none;
}
ul.sub-menu a{
    color: black;
    text-align: left;
    border-bottom: 1px solid white   ;

}
ul.menu li:hover ul.sub-menu{
    display: block;
}
aside{
    width: 30%;
    background-color: white;
    display: block;
    float: right;

}
aside ul{
    list-style: none;
    box-shadow: 1px 1px 1px black;
    text-align: left;

}
aside ul li {
    line-height: 45px;
    border-bottom: 1px solid orange;

}
aside ul a{
    display: block;
    color: black;
    text-decoration: none;
    padding-right: 15px;
}
aside ul a:hover{
    text-decoration: underline;
    color: red;
}