/* viết css theo id*/
#fpt {
    font-size: 45px;
    color:blue;
    text-align: center;
}
#learn {
    color:red;
    text-align: right;
}
/* viết css cho class*/
.para {
    color: green;
    font-style: italic;
    font-size: 20px;
    
}
/*áp dụng chồng selecter*/
.para b {
    color:rebeccapurple;
}
.para i {
    color: aqua;

}
.para u{
    color:pink;
}
.para a{
    color:chocolate;
}